.centered {
  text-align: center;
  align: center;
}

/* .background {
  background-image: url("./assets/OceanBGpexels-matt-hardy-3560136.jpg");
  background-size: cover;
  overflow: hidden -moz-hidden-unscrollable;
  background-attachment: fixed;
} */
